/* 用于设置侧边栏样式 */
:root {  
    --scrollbar-color: #e0e3e6;  
    --scrollbar-color-hover: #c1c7ce;  
    --scrollbar-dark-color: #6e7883;  
    --scrollbar-dark-color-hover: #555f6b;  
}  
  
/* refs to https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */  
::-webkit-scrollbar {  
    width: 15px;  
}  
  
::-webkit-scrollbar-track {  
    background-color: transparent;  
}  
  
::-webkit-scrollbar-thumb {  
    background-color: var(--scrollbar-color);  
    border-radius: 15px;  
    border: 5px solid rgba(0, 0, 0, 0);  
    background-clip: content-box;  
}  
  
::-webkit-scrollbar-thumb:hover {  
    background-color: var(--scrollbar-color);  
}  
  
/*控制隐藏和显示*/  
.VPSidebar::-webkit-scrollbar-thumb {  
    visibility: hidden;  
}  
  
.VPSidebar:hover::-webkit-scrollbar-thumb {  
    visibility: visible;  
}  
  
  
.dark ::-webkit-scrollbar-thumb {  
    background-color: var(--scrollbar-dark-color);  
}  
  
.dark ::-webkit-scrollbar-thumb:hover {  
    background-color: var(--scrollbar-dark-color-hover);  
}

/* mjx-container[style*="display: block;"] {
    @apply overflow-x-auto overflow-y-hidden;
}
  
mjx-container > svg {
    @apply inline-block;
} */

/*文字加粗样式修改*/
.vp-doc strong {
    font-size: 18px;
    font-weight: bolder !important;
    color: #fdab63;
    padding: 0 4px;
}

/*各级目录文字颜色*/
/* docs/.vitepress/theme/global.css */
.vp-doc h1,
.vp-doc .header-anchor:before {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #c7d2fe, #8678f9);
    background-size: 200% auto;
    letter-spacing: 0.1rem;
}

.vp-doc h2 {
    color: unset !important;
    background: linear-gradient(to right, #6fbef7, #ba89ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.vp-doc h3 {
    color: unset !important;
    background: linear-gradient(to right, #F472B6, #DB2777);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

.vp-doc h4 {
    color: unset !important;
    background: linear-gradient(to right, #FB923C, #EA580C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}